.ADDNEW_topHeader{
   text-align: center;
   margin-top: 25px;
}
.ADDNEW_topHeader h1{
    font-style: normal;
    font-style: 30px;
    margin-top: 0px;
 }

.ADDNEW_linkCourseButton{
    width: 230px;
    height: 230px;
    text-align: center;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: linear-gradient(2deg, rgba(250,166,41,1) 0%, rgba(250,202,41,1) 100%);
    box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.55);

}
.ADDNEW_linkManualButton{
   
    width: 230px;
    height: 230px;
    text-align: center;
    border-radius: 16px;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(2deg, #27b95f 0%, #68dbaf 100%);
    box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.55);
}
.ADDNEW_addManualButton h2{
    color: black;
}
.ADDNEW_linkTillbaka{
 
    width: 100%;
    height: 100px;
    text-align: center;
    border: 2px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.ADDNEW_linkTillbaka:active {
    width: 45%;
    transition: 0.01s;
}

.ADDNEW_linkManualButton:active {
    width: 70%;
    transition: 0.1s;
}

.ADDNEW_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(2deg, #A1C4FD 0%, #C2e9FB 100%);
}


.ADDNEW_container h2{
   color: black;
   font-style: normal;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.ADDNEW_task{
width: 70%;
height: 60%;
margin-top: 5%;
margin-bottom: 5%;
}
.ADDNEW_add{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    height: 65%;
}
.ADDNEW_chev{
    transform: rotate(180deg);
    width: 20%;
    margin-bottom: 15%;
    fill: #A1c4fd;
   
}



