@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    
}

body{
	margin-top: auto;
	overflow: hidden;
}

.landing_welcome{
  text-align: center;
  color: white;
  font-size: 34px;
    padding-top: 9vh;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
	font-family: Roboto Condensed;
	font-style: italic;

}

.landing_landing-container{

  background-color: rgba(109, 162, 248, 0.8);
  background-image: linear-gradient(220deg, #b4d1ff 0%, #72b5d4 100%);
  background-image: './images/liu.jfif';

overflow: hidden;
}

.landing_welcome-info{

	margin:auto;
	max-width: 40vh;
	justify-content: center;
	align-items: center;
  text-align: center;
  margin-top: 0px;
      padding-top: 1px;
	  padding-bottom: 4vh;
	  color: white;
	  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);


}
#enter{
  text-align: center;

}

.landing_buttonEnter {
		  display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(0deg, rgba(250,166,41,1) 0%, rgba(250,202,41,1) 100%);
	background-color:#ffc477;
	border-radius:15px;
	cursor:pointer;
	color:#ffffff;
	font-size:36px;
	font-weight:bold;
	font-style:normal;
	padding:21px 30px;
	text-decoration:none;
	max-width:  200px;
	margin: auto;
	margin-top: 5vh;
	min-height: 7vh;
	-webkit-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.55);
  
}


.landing_enterButton:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.landing_enterButton:active {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	position:relative;
	top:20px;
}

        



.landing_buttonEnter:hover {
	background:linear-gradient(to bottom, #f0b58d 5%, #fff1c9 100%);
	background-color:#f0b58d;
}

.landing_buttonEnter:active {
	position:relative;
	background:linear-gradient(to bottom, #f0b58d 5%, #fff1c9 100%);
	top:1px;
}

.landing_fade{
	
	background-color: rgba(0, 0, 0, 0.0);
	margin: 0;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	 animation-name: bgFade;
  animation-duration: 0.5s;
  pointer-events: none;

}

.landing_changeToCourse{
	font-size: 18px;
  text-align: center;
  margin-top: 10vh;
    margin-bottom: 20%;
	padding-bottom: auto;
	color: white;
	text-decoration: underline;
	 text-transform: uppercase;
	 font-style: italic;
	 	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	 overflow: hidden;
}
.landing_drop{
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  font-style: italic;
  font-weight: bold;
  align-items: center;

}


.landing_bgblur{
	position: fixed;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.0);
	min-width: 300px;
	min-height: 325px;
  top: 48%;
  left: 50%;
  margin: -100px 0 0 -150px;
	padding: auto;
	backdrop-filter: blur(90px) brightness(60%);
	border-radius: 10px;
	
}

.landing_Dropdown-menu{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.landing_backgroundIMG{

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
  
}

.landing_span{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

}  


a:visited {
  color: white;
}


a {
  color: white;
  display: block;
}